@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.center{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  overflow: auto;
  min-height: 300px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgb(143, 143, 255);
}

.flex{
  display: flex;
}

.login-container{
  height: 80vh;
  align-items: center;
  justify-content: center;

}

.login-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.login-input{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px;
}

.login-btn{
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
}

.admin-container{
  margin: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .line{
  width: 5px;
  margin: 0 50px;
  border: solid rgba(0, 0, 0, 0.363);
} */

.instructors-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

.dropdown{
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

/* instructor component */
.assingment-input{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: solid 1px;
}